
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: var(--the-test);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  h1 {
    display: block;
    font-size: 4em;
  }

</style>

<h1>IS THIS TEXT RED?!?!?</h1>
<h1>🙏 🙏 🙏 🙏 🙏</h1>

<router-outlet></router-outlet>